<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="abouts" id="about" class="section">
            <div class="container">
                <h4>Who We Are</h4>
                <div class="row">
                    <div class="span4 offset1">
                        <div>
                            <h2>We live with <strong>creativity</strong></h2>
                            <p>
                                Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe
                                al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.
                            </p>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="aligncenter">
                            <img src="img/icons/creativity.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2 offset1 flyIn">
                        <div class="people">
                            <img class="team-thumb img-circle" src="img/team/img-1.jpg" alt="" />
                            <h3>MD. Rahamat Ullah</h3>
                            <p>
                                Java Developer
                            </p>
                        </div>
                    </div>
                    <div class="span2 flyIn">
                        <div class="people">
                            <img class="team-thumb img-circle" src="img/team/img-2.jpg" alt="" />
                            <h3>Mike Doe</h3>
                            <p>
                                Web developer
                            </p>
                        </div>
                    </div>
                    <div class="span2 flyIn">
                        <div class="people">
                            <img class="team-thumb img-circle" src="img/team/img-3.jpg" alt="" />
                            <h3>Neil Doe</h3>
                            <p>
                                Web designer
                            </p>
                        </div>
                    </div>
                    <div class="span2 flyIn">
                        <div class="people">
                            <img class="team-thumb img-circle" src="img/team/img-4.jpg" alt="" />
                            <h3>Rahamat Ullah</h3>
                            <p>
                                Software Engineer
                            </p>
                        </div>
                    </div>
                    <div class="span2 flyIn">
                        <div class="people">
                            <img class="team-thumb img-circle" src="img/team/img-5.jpg" alt="" />
                            <h3>Stephen B</h3>
                            <p>
                                Digital imaging
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
</section>
</body>
</html>
