<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="../static/Style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h1 class="red title" th:text="${welcome}"></h1>

<form th:object="${student}" th:action="@(/)" th:method="post" ,>
    <input type="text" th:field="*{name}"/>
    <button type="submit" style="color: blue">Send</button>
</form>


</body>
</html>